@mixin todo-margin {
  padding-left: 25px;
  padding-right: 25px;
}

html {
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222222;

    #container {

      #taskBox {
        width: 400px;
        margin: auto;
        margin-top: 50px;
        background-color: #eeeeee;
        #title {
          margin: 0;
          padding: 0;
          text-align: left;
          font-size: 30px;
          line-height: 60px;
          @include todo-margin();
        }

        #addTask {
          @include todo-margin();
          input {
            width: 330px;
            height: 40px;
            padding-left: 10px;
            padding-right: 10px;
            border: 0;
            &:focus {
              outline: none;
            }
          }
        }

        #taskList {
          list-style-type: none;
          padding-left: 0;
          @include todo-margin();
          padding-bottom: 15px;
          li {
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;

            div {
              display: inline-block;
            }

            input {
              margin-top: 5px;
              margin-right: 15px;
              &:focus {
                outline: none;
              }
            }

            .text {
              width: 304px;

              &.done {
                text-decoration: line-through
              }
            }

            .remove {
              margin-top: 5px;
              width: 12px;
              color: #d80000;
              cursor: pointer;
              font-size: 10px;
              text-align: right;
              visibility: hidden;

              &.hover {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}